/* fc FullCalendar runs in an iframe so needs separate css file */

/* This puts day number and data summary on a single line */
.fc-daygrid-day-frame {
    overflow: hidden;
}
.fc-daygrid-day-top {
    float: left;
}
.fc-daygrid-day-events {
    float: right;
}

/* Other stylings */
.fc-button {
  box-shadow: none !important;
}
a.fc-daygrid-day-number {
  text-decoration: none;
}
a.fc-col-header-cell-cushion {
  text-decoration: none;
}